/*
RESET
*/
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
	height: 100%;
}

html,body {
	height: 100%;
}

ul {
	list-style: none;
}

ol {
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
}

a img {
	border: none;
}

img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

/*
UTILITY
*/
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

.smpad {
	padding: 5px 0;
}

.top {
	vertical-align: top;
}

.bold {
	font-weight: bold;
}

a {
	color: #4c286e;
	text-decoration: underline;
}

.hr {
	border-bottom: 1px solid #ccc;
	padding-top: 7px;
	margin-bottom: 7px;
}

/*
FONTS
*/
@font-face {
	font-family: 'ArcherSemibold';
	src: url('fonts/archer-semibold-webfont.eot');
	src: url('fonts/archer-semibold-webfont.eot?#iefix')
		format('embedded-opentype'), url('fonts/archer-semibold-webfont.woff')
		format('woff'), url('fonts/archer-semibold-webfont.ttf')
		format('truetype'), url('fonts/archer-semibold-webfont.svg#')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
STRUCTURE
*/
body {
	font: 12px Verdana, Arial, sans-serif;
	color: #000;
	background-color: #fff;
}

#container {
	width: 996px;
	height: 740px;
	border: 1px solid #397c2c;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fff;
}

#overlay {
	width: 668px;
	border: 1px solid #397c2c;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fff;
}

#overlay .title {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 12px;
	background-color: #80a66f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
}

#overlay .bottom {
	background-color: #efefef;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
}

#overlay .overlay-bar {
	background: #e1e1e1;
	padding: 5px 5px 5px 7px;
}

#overlay .bar-height {
	height: 25px;
}

#overlay .bar-left {
	width: 205px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
}

#overlay .bar-center {
	width: 185px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
}

#overlay .bar-right {
	width: 150px;
	float: left;
	font-size: 11px;
}

#overlay .bar-extreme-right {
	width: 90px;
	float: left;
	font-size: 11px;
}

#overlay .bar-1 {
	width: 150px;
	height: 30px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
}

#overlay .bar-2 {
	width: 55px;
	height: 30px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
	text-align: center;
}

#overlay .bar-3 {
	width: 70px;
	height: 30px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
	text-align: center;
}

#overlay .bar-4 {
	width: 85px;
	height: 30px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
	text-align: center;
}

#overlay .bar-5 {
	width: 70px;
	height: 30px;
	float: left;
	padding: 0 5px 0 0;
	font-size: 11px;
	text-align: center;
}

#overlay .box-button {
	background: #e1e1e1;
	width: 15px;
	text-align: center;
	float: left;
	margin: 0 5px 0 0;
	text-decoration: none;
}

#overlay .box-button a {
	text-decoration: none;
}

#overlay .box-button a:visited {
	text-decoration: none;
}

#overlay .box-button a:hover {
	text-decoration: none;
}

#overlay .odetails-header {
	background: #e1e1e1;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 0 0;
}

#overlay .odetails-header li {
	float: left;
	width: 50%;
}

#overlay .odetails-header li.left {
	padding: 5px 0 0 0;
}

#overlay .odetails-header li.right {
	text-align: right;
}

#overlay .order-overlay-info {
	height: 250px;
	overflow: auto;
	background: #fff;
	padding: 5px;
}

#overlay .message-order-overlay-info {
	height: 250px;
	background: #fff;
}

#overlay .message-order-overlay-info ul {
	padding: 5px 0 0 0;
	min-height: 20px;
}

#overlay .message-order-overlay-info li {
	padding: 0 0 5px 0;
}

#overlay .message-order-overlay-info ul:hover {
	background: #d5edcb !important;
}

#overlay .message-order-overlay-info li {
	background: none;
}

#overlay .message-order-overlay-info .details {
	background: #f6f6f6;
	padding: 5px 15px;
	margin: 5px 0 0 0;
	display: none;
	font-size: 11px;
	line-height: 13px;
}

#overlay .message-order-overlay-info .message-header {
	float: left;
	padding: 0 10px 0 0;
}

#overlay .order-overlay-info ul {
	padding: 5px 0 0 0;
	min-height: 20px;
}

#overlay .order-overlay-info li {
	padding: 0 0 5px 0;
}

#overlay .order-overlay-info ul:hover {
	background: #d5edcb !important;
}

#overlay .order-overlay-info li {
	background: none;
}

#overlay .order-overlay-info .details {
	background: #f6f6f6;
	padding: 5px 15px;
	margin: 5px 0 0 0;
	display: none;
	font-size: 11px;
	line-height: 13px;
}

#overlay .order-overlay-info .message-header {
	float: left;
	padding: 0 10px 0 0;
}

#overlay .order-overlay-related-info {
	height: 110px;
	overflow: auto;
	background: #fff;
	padding: 5px;
}

#overlay .order-overlay-related-info ul {
	padding: 5px 0 5px 0;
	min-height: 20px;
}

#overlay .order-overlay-related-info ul:hover {
	background: #d5edcb !important;
}

#overlay .order-overlay-related-info li {
	background: none;
}

#overlay .order-overlay-related-info .details {
	background: #f6f6f6;
	padding: 5px 15px;
	margin: 5px 0 0 0;
	display: none;
	font-size: 11px;
	line-height: 13px;
}

#overlay .order-overlay-related-info .message-header {
	float: left;
	padding: 0 10px 0 0;
}

#overlay .order-info ul {
	padding: 10px 15px;
}

#overlay .order-info ul {
	float: left;
}

#overlay .order-info ul.left {
	width: 240px
}

#overlay .order-info ul li.last {
	padding: 0 0 10px 0;
}

#overlay .odetails-b li.padleft {
	padding: 10px 0 0 10px;
}

#overlay .odetails-b {
	height: 240px;
	overflow: auto;
	background: #efefef;
}

#overlay .odetails-b li.container {
	border-bottom: 1px solid #a9a9a9;
	padding: 10px 0 10px 10px;
}

#overlay .odetails-b .product-image {
	float: left;
	margin: 0 15px 0 0;
	border: 1px solid #d7d7d7;
}

#overlay .odetails-b .product-data {
	float: left;
	width: 355px;
	font-size: 11px;
}

#overlay .odetails-b .product-data ul {
	float: left;
	padding: 0 20px 0 0;
}

#overlay .odetails-b .product-data ul.description {
	padding: 5px 0 0 0;
	line-height: 12px;
	font-size: 11px;
}

#overlay .odetails-b .product-data .product-code {
	width: 120px;
}

#overlay .odetails-b .product-data .occassion {
	width: 120px;
}

#overlay .odetails-b .product-data .quantity {
	width: 65px;
}

#overlay .odetails {
	height: 140px;
	overflow: auto;
	background: #efefef;
	border-bottom: 1px solid #a9a9a9;
}

#overlay .odetails li.container {
	border-bottom: 1px solid #a9a9a9;
	padding: 10px 0 10px 10px;
}

#overlay .odetails .product-image {
	float: left;
	margin: 0 15px 0 0;
	border: 1px solid #d7d7d7;
}

#overlay .odetails .product-data {
	float: left;
	width: 355px;
	font-size: 11px;
}

#overlay .odetails .product-data ul {
	float: left;
	padding: 0 20px 0 0;
}

#overlay .odetails .product-data ul.description {
	padding: 5px 0 0 0;
	line-height: 12px;
	font-size: 11px;
}

#overlay .odetails .product-data .product-code {
	width: 120px;
}

#overlay .odetails .product-data .occassion {
	width: 120px;
}

#overlay .odetails .product-data .quantity {
	width: 65px;
}

#overlay .product-info {
	height: 150px;
	overflow: auto;
	background: #efefef;
	border-top: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
}

#overlay .product-info li.container {
	border-bottom: 1px solid #a9a9a9;
	padding: 10px 0 20px 10px;
}

#overlay .product-info .product-image {
	float: left;
	margin: 0 15px 0 0;
	border: 1px solid #d7d7d7;
}

#overlay .product-info .product-data {
	float: left;
	width: 355px;
}

#overlay .product-info .product-data ul {
	float: left;
	padding: 0 10px 0 0;
}

#overlay .product-info .product-data ul.description {
	padding: 5px 120px 0 0;
	line-height: 12px;
	font-size: 11px;
}

#overlay .product-info .product-data .product-code {
	width: 120px;
}

#overlay .product-info .product-data .occassion {
	width: 120px;
}

#overlay .product-info .product-data .quantity {
	width: 65px;
	text-align: right;
}

#overlay .messaging {
	padding: 10px 15px 15px 15px;
	font-size: 11px;
}

#overlay .orderNotes {
	padding: 10px 15px 15px 15px;
	font-size: 11px;
	height: 300px;
}

#overlay .orderNotes .note {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	width: 455px;
	height: 200px;
}

#overlay .messaging li.break {
	padding: 10px 0 0 0;
}

#overlay .messaging .cardmessage {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	width: 455px;
	height: 45px;
}

#overlay .messaging .specialinstructions {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	width: 455px;
	height: 45px;
}

#overlay .save-button {
	padding: 0 15px 15px 15px;
	text-align: right;
	margin-top: -90px;
}

#overlay .save-buttonEdit {
	padding: 0 15px 15px 15px;
	text-align: right;
}

#header {
	padding: 0 0 8px 0;
	position: relative;
}

.logo {
	padding: 2px 0 0 12px;
}

.content-container {
	
}

.login-area {
	position: absolute;
	top: 12px;
	right: 12px;
}

.login-area a {
	text-decoration: none;
}

.stat-label {
	font-size: 10px;
	text-align: right;
	width: 77px;
	float: left;
	line-height: 12px;
}

.stat-bar {
	position: absolute;
	top: 48px;
	right: 12px;
}

.stat-bar input {
	width: 32px;
	float: left;
	padding: 3px 0;
	margin: 0 0 0 3px;
	text-align: center;
}

.stat-bar input.search {
	width: 120px;
	margin: 0 3px 0 15px;
	text-align: left;
}

.stat-bar img {
	vertical-align: middle;
}

.search-go {
	margin: 0 5px 0 3px;
}

/* Pages */
.admin-sidebar {
	width: 280px;
	float: right;
	position: relative;
	height: 656px;
	background-color: #f2f2f2;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

.productivity-sidebar {
	width: 280px;
	float: right;
	position: relative;
	height: 656px;
	background-color: #f2f2f2;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

.productivity-sidebar .agents-logged-in {
	padding: 7px 12px;
	height: 200px;
	overflow: auto;
}

.productivity-sidebar .agents-logged-in li {
	padding: 2px 0;
}

.productivity-sidebar .order-counts {
	padding: 12px;
}

.productivity-sidebar .order-counts .large-text {
	font-size: 15px;
	color: #444444;
	font-weight: bold;
}

.sidebar-content .admin-list {
	overflow: auto;
	padding: 0 20px;
	font-size: 11px;
	height: 166px;
	width: 240px;
}

.sidebar-content .admin-list ol {
	list-style: decimal;
	margin: 0 10px 10px 10px;
}

.sidebar-content .admin-list li {
}

.sidebar-content .admin-list a {
	color: #3f1f5e;
	text-decoration: none;
	font-weight: bold;
}

.sidebar-content .admin-list a.underlined {
	color: #3f1f5e;
	text-decoration: underline;
	font-weight: bold;
}

.underlined {
	color: #3f1f5e;
	text-decoration: underline;
	font-weight: bold;
}

.sidebar-content .admin-list li.alignleft {
	float: left;
}

.sidebar-content .admin-list li.alignright {
	float: right;
}

.admin-sidebar table td tr {
	text-align: right;
	border: 1px solid black;
}

.productivity-sidebar table td tr {
	text-align: right;
	border: 1px solid black;
}

.admin-area .headline {
	background-color: #63467f;
}

.admin-area {
	width: 716px;
	float: left;
	height: 656px;
}

.admin-all-orders {
	padding: 12px;
}

.productivity-all-orders {
	padding: 12px;
}

.productivity-all-orders .sub-headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 12px;
	background-color: #80a66f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
	width: 308px;
}

.productivity-all-orders .sub-headline2 {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 12px;
	background-color: #63467f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
	width: 646px;
	height: 24px;
}

.productivity-table {
	
}

.productivity-table .header {
	background: #e1e1e1;
	height: 27px;
	font-weight: bold;
}

.productivity-table-container {
	border: 1px solid #e1e1e1;
	height: 50px;
	width: 330px;
}

.productivity-table-container2 {
	border: 1px solid #e1e1e1;
	height: 275px;
	overflow: auto;
	width: 330px;
}

.productivity-table-container3 {
	border: 1px solid #e1e1e1;
	height: 130px;
	overflow: auto;
	width: 668px;
}

.productivity-table .col1 {
	width: 97px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.productivity-table .col2 {
	width: 46px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.productivity-content-col1 {
	width: 300px;
	padding: 5px 10px;
	text-align: center;
}

.productivity-content-col2 {
	width: 300px;
	padding: 5px 10px;
	text-align: left;
}

.productivity-content-col3 {
	width: 46px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.productivity-content-col4 {
	width: 600px;
	padding: 5px 10px;
	text-align: left;
}

.productivity-area {
	width: 716px;
	float: left;
	height: 656px;
	/*overflow-y: scroll;*/
	vertical-align: top;
}

.productivity-area .headline {
	background-color: #63467f;
}

.order-area {
	width: 735px;
	float: left;
	height: 656px;
}

.sidebar {
	width: 261px;
	float: left;
	position: relative;
	height: 656px;
	background-color: #f2f2f2;
}

.admin-area table,td,th {
	padding: 4px 4px 4px 4px;
}

.send-order-fax {
	text-align: left;
	padding: 0 15px 15px 15px;
}

.send-order-fax a {
	color: #3f1f5e;
	text-decoration: none;
	font-weight: bold;
}

.send-order-fax li {
	padding: 0 0 10px 0;
}

.send-order-fax .phone-1 {
	width: 40px;
}

.send-order-fax .phone-2 {
	width: 40px;
}

.send-order-fax .phone-3 {
	width: 55px;
}

.send-order-electronic {
	text-align: left;
	padding: 0 15px 15px 15px;
}

.send-order-electronic li {
	padding: 0 0 10px 0;
}

.order-confirmation {
	text-align: center;
	padding: 0 15px 15px 15px;
}

.order-confirmation li {
	padding: 0 0 10px 0;
}

.order-confirmation input {
	width: 183px;
}

.order-sent {
	padding: 0 15px 15px 15px;
}

.order-sent li {
	padding: 0 0 10px 0;
}

.order-no-action {
	margin-top: 225px;
	padding: 0 25px 0 25px;
}

.exit-order {
	padding: 10px 0 0 0;
}

.send-order-electronic li.label {
	float: left;
	width: 85px;
	clear: both;
}

.send-order-electronic .shop-code {
	width: 75px;
}

.sidebar-content {
	padding: 20px 0 0 0;
}

.sidebar-content .choosing-a-florist {
	padding: 200px 15px 15px 15px;
	text-align: center;
}

.sidebar-content .send-order {
	text-align: center;
	width: 100%;
}

.sidebar-content .messages-section {
	padding: 0 20px 20px 20px;
	overflow: auto;
	height: 540px;
}

.sidebar-content .messages-section img {
	padding: 10px 0 0 0;
}

.sidebar-content .messages-section li {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #a9a9a9;
}

.sidebar-content .messages-reply {
	padding: 0 20px 20px 20px;
}

.sidebar-content .messages-reply li {
	padding: 0 0 10px 0;
}

.sidebar-content .messages-reply .reply-message-box {
	height: 124px;
	width: 214px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar-content .messages-reply .reply-message-text {
	width: 214px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar-content .messages-reply select {
	width: 214px;
}

.sidebar-content .messages-reply .send-button {
	text-align: center;
}

.sidebar-content .slidingDivDLCF {
	padding: 0 20px 20px 20px;
}

.sidebar-content .slidingDivDLCF li {
	padding: 0 0 10px 0;
}

.sidebar-content .slidingDivDLCF .reply-message-box {
	height: 124px;
	width: 214px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar-content .slidingDivDLCF .reply-message-text {
	width: 214px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar-content .slidingDivDLCF select {
	width: 214px;
}

.sidebar-content .slidingDivDLCF .send-button {
	text-align: center;
}

.sidebar-content .slidingDivMessageTxt {
	padding: 0 20px 20px 20px;
}

.sidebar-content .slidingDivMessageTxt li {
	padding: 0 0 10px 0;
}

.sidebar-content .slidingDivMessageTxt .reply-message-box {
	height: 124px;
	width: 214px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar-content .slidingDivMessageTxt .reply-message-text {
	width: 214px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar-content .slidingDivMessageTxt select {
	width: 214px;
}

.sidebar-content .slidingDivMessageTxt .send-button {
	text-align: center;
}

.sidebar-content .messages-sent {
	padding: 0 20px 20px 20px;
}

.sidebar-content .messages-sent li {
	background: #d2d2d2;
	padding: 20px 0;
	text-align: center;
}

.sidebar-footer .next-order {
	padding: 7px 0 0 0;
}

.sidebar-content .florist-info {
	padding: 0 20px 20px 20px;
	border-bottom: 1px solid #a9a9a9;
}

.sidebar-content .florist-info a {
	color: #3f1f5e;
	text-decoration: none;
	font-weight: bold;
}

.sidebar-content .florist-list {
	overflow-y: scroll;
	padding: 0 20px;
	font-size: 11px;
	height: 545px;
}

.sidebar-content .florist-list ol {
	list-style: decimal;
	margin: 0 10px 10px 10px;
}

.sidebar-content .florist-list li {
	padding: 0 0 15px 0;
}

.sidebar-content .florist-list a {
	color: #3f1f5e;
	text-decoration: none;
	font-weight: bold;
}

.sidebar-content .florist-list a.underlined {
	color: #3f1f5e;
	text-decoration: underline;
	font-weight: bold;
}

.sidebar-content .florist-list li.alignleft {
	float: left;
}

.sidebar-content .florist-list li.alignright {
	float: right;
}

.sidebar-content .florist-list2 {
	padding: 0 20px;
	font-size: 11px;
	height: 545px;
}

.sidebar-content .florist-list2 ol {
	list-style: decimal;
	margin: 0 10px 10px 10px;
}

.sidebar-content .florist-list2 li {
	padding: 0 0 15px 0;
}

.sidebar-content .florist-list2 a {
	color: #3f1f5e;
	text-decoration: none;
	font-weight: bold;
}

.sidebar-content .florist-list2 a.underlined {
	color: #3f1f5e;
	text-decoration: underline;
	font-weight: bold;
}

.sidebar-content .florist-list2 li.alignleft {
	float: left;
}

.sidebar-content .florist-list2 li.alignright {
	float: right;
}

.sidebar-content .choose-florist {
	text-align: left;
	padding: 15px;
}

.sidebar-content .choose-florist a {
	text-align: center;
}

.sidebar-content .choose-florist li {
	padding: 0 0 10px 0;
}

.sidebar-content .choose-florist label {
	padding: 0 0 0 5px;
	color: #666666;
	font-size: 11px;
}

.sidebar-content .choose-florist h3 {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #397c2c;
}

.sidebar-content .choose-florist .field-width {
	width: 210px;
}

.sidebar-content .method-send {
	text-align: left;
	padding: 0 15px 15px 15px;
}

.sidebar-content .method-send ul {
	padding: 0 0 15px 0;
}

.sidebar-content .method-send li {
	border-bottom: 1px solid #a9a9a9;
	padding: 10px 0;
	font-size: 13px;
}

.sidebar-content .method-send label {
	padding: 0 0 0 5px;;
}

.sidebar-content .method-send .field-small-mid {
	width: 40px;
}

.sidebar-content .method-send .field-width {
	padding: 0px 5px 0px 5px;
	width: 210px;
	text-align: right;
	align: right;
}

.sidebar-content .phone-order {
	text-align: left;
	padding: 0 15px 15px 15px;
}

.sidebar-content .phone-order .field-width {
	width: 210px;
}

.sidebar-content .phone-order .field-width-mid {
	width: 120px;
}

.sidebar-content .phone-order ul {
	padding: 0 0 20px 0;
}

.sidebar-content .phone-order li {
	border-bottom: 1px solid #a9a9a9;
	padding: 15px 0;
}

.sidebar-content .phone-order li.no-border {
	border: none;
	padding: 10px 0;
}

.sidebar-content .phone-order li.no-padding {
	border: none;
	padding: 0;
}

.sidebar-content .phone-order li.last {
	border-top: 1px solid #a9a9a9;
	border-bottom: none;
	padding: 15px 0;
}

.sidebar-content .phone-order label {
	padding: 0 0 0 5px;
	font-size: 14px;
	font-weight: bold;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 261px;
	height: 40px;
	text-align: center;
	background-color: #80a66f;
	-webkit-border-radius: 0px 0px 8px 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	border-radius: 0px 0px 8px 0px;
}

.sidebar-footer .submit {
	padding: 10px 0 0 0;
}

.sidebar-footer .bottom-buttons {
	padding: 5px 0 0 0;
}

.headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 6px 12px;
}

.blank-headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 6px 12px;
	background-color: #63467f;
	text-align: center;
}

.order-area .headline {
	background-color: #63467f;
}

.sidebar .headline {
	background-color: #80a66f;
}

.productivity-sidebar .headline {
	background-color: #80a66f;
	text-align: center;
}

.admin-sidebar .headline {
	background-color: #63467f;
}

.headline a {
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: underline;
	color: #fff;
	padding: 0 0 0 10px;
}

.order-number {
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
}

.outbound {
	float: right;
}

.order-boxes {
	padding: 12px;
}

.small-box {
	width: 232px;
	height: 115px;
	float: left;
	border: 1px solid #e6e6e6;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 0 12px 0 0;
}

.admin-small-box {
	width: 332px;
	height: 115px;
	float: left;
	margin: 0 12px 0 0;
}

.order-actions {
	width: 215px;
	margin: 0;
}

.sub-headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 10px;
	background-color: #80a66f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
	height: 26px;
}

.sub-headline img {
	margin: 0 0 0 35px;
}

.push-down {
	vertical-align: middle;
}

.edit {
	float: right;
	border-left: 1px solid #fff;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	padding: 0 0 0 5px;
}

.showStatus {
	font-size: 12px;
	color: #fff;
}

.showStatus a {
	color: #fff;
}

.edit a {
	color: #fff;
}

.box-content {
	padding: 10px 12px;
}

.order-actions .box-content {
	padding: 6px 12px;
}

.box-content img {
	margin: 0 0 5px 0;
}

.main-order-area-container {
	padding: 0 12px 0 12px;
}

.main-order-area {
	width: 708px;
	height: 465px;
	float: left;
	margin: 0 12px 12px 12px;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.order-information {
	background-color: #f2f2f2;
	padding: 15px 10px 15px 23px;
	line-height: 15px;
}

.column {
	float: left;
	width: 130px;
	margin: 0 20px 0 0;
}

.column1 {
	width: 195px;
}

.column2 {
	width: 190px;
}

.column3 {
	width: 95px;
}

.column4 {
	margin: 0;
	width: 90px;
}

.products {
	overflow-y: scroll;
	height: 125px;
	padding: 15px 23px;
	width: 385px;
	font-size: 11px;
	border-bottom: 1px solid #cecece;
	float: left;
}

.products li {
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #cecece;
}

.products strong {
	font-size: 12px;
}

.quantity strong {
	font-size: 11px;
}

.quantity {
	float: right;
}

.products a {
	padding: 0 0 0 4px;
}

.card-message {
	background-color: #ecffef;
	float: left;
	width: 241px;
	padding: 15px 18px;
	height: 125px;
	border-bottom: 1px solid #cecece;
	line-height: 15px;
}

.notes {
	padding: 12px 23px;
	line-height: 14px;
	font-size: 11px;
	height: 93px;
	overflow-y: scroll;
	width: 60%;
}

.error {
	color: red;
}

.default-content {
	width: 500px;
	margin: 20px auto;
	text-align: center;
}

.default-content .sub-headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 12px;
	background-color: #80a66f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
	width: 397px;
}

.landing-table {
	
}

.landing-table .header {
	background: #e1e1e1;
	height: 27px;
	font-weight: bold;
}

.landing-table .col1 {
	width: 80px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.landing-table .col2 {
	width: 80px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.landing-table .col3 {
	width: 80px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.landing-table .col4 {
	width: 97px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.landing-table .col5 {
	width: 119px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.landing-table .col6 {
	width: 119px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.landing-table .col7 {
	width: 120px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.report-area { /*width: 716px;*/
	width: 770px;
	float: left;
	height: 656px;
	overflow: auto;
	vertical-align: top;
}

.report-area .headline {
	background-color: #63467f;
}

.report-sidebar { /*width: 280px;*/
	width: 226px;
	float: right;
	position: relative;
	height: 656px;
	background-color: #f2f2f2;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

.report-sidebar .headline {
	background-color: #63467f;
}

.report-all-orders {
	padding: 8px;
}

.report-all-orders .sub-headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 12px;
	background-color: #80a66f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
	width: 721px;
}

.report-table {
	
}

.report-table .header {
	background: #e1e1e1;
	height: 27px;
	font-weight: bold;
}

.report-table .col1 {
	width: 97px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.report-table .col2 {
	width: 97px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.report-table .col3 {
	width: 97px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.report-table .col4 {
	width: 97px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.report-table .col5 {
	width: 97px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.report-table .col6 {
	width: 97px;
	padding: 1px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.florist-info {
	padding: 20px;
}

.florist-info ul {
	margin: 0;
	clear: both;
}

.florist-info li {
	float: left;
	padding: 0 10px 10px 0;
}

.florist-info li.label {
	text-align: right;
	width: 100px;
}

.florist-info .field {
	width: 250px;
}

.florist-info .small-field {
	width: 100px;
}

/* Manager View */
#header .agent {
	text-align: right;
}

.manager-all-orders {
	padding: 12px;
}

.manager-all-orders .sub-headline {
	font-family: 'ArcherSemibold';
	font-size: 18px;
	color: #fff;
	padding: 0 12px;
	background-color: #80a66f;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	line-height: 24px;
}

.order-table-container {
	border: 1px solid #e1e1e1;
	height: 534px;
	overflow-y: scroll;
}

.orders-table {
	
}

.orders-table .header {
	background: #e1e1e1;
	height: 27px;
	font-weight: bold;
}

.orders-table .col1 {
	width: 97px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-table .col2 {
	width: 46px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-table .col3 {
	width: 84px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-table .col4 {
	width: 79px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-table .col5 {
	width: 57px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-table .col6 {
	width: 51px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-table .col7 {
	width: 94px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col1 {
	width: 50px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col2 {
	width: 46px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col3 {
	width: 84px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col4 {
	width: 79px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col5 {
	width: 57px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col6 {
	width: 51px;
	padding: 5px 10px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.orders-content-col7 {
	width: 77px;
	padding: 5px 10px;
	text-align: center;
}

.manager-sidebar {
	width: 333px;
	float: left;
	position: relative;
	height: 656px;
	background-color: #f2f2f2;
	-webkit-border-radius: 0px 0px 8px 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	border-radius: 0px 0px 8px 0px;
}

.manager-area {
	width: 663px;
	float: left;
	height: 656px;
}

.manager-area .headline {
	background-color: #63467f;
}

.headline {
	background-color: #80a66f;
}

.manager-sidebar .order-search {
	padding: 12px;
}

.manager-sidebar .order-search li {
	padding: 0 0 4px 0;
}

.manager-sidebar .order-search .field {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #c7c6c6;
	border: 1px solid #b8b8b8;
	padding: 2px;
}

.manager-sidebar .order-search .large {
	width: 305px;
}

.manager-sidebar .agents-logged-in {
	padding: 7px 12px;
	height: 200px;
	overflow: auto;
}

.manager-sidebar .agents-logged-in li {
	padding: 2px 0;
}

.manager-sidebar .order-counts {
	padding: 12px;
}

.manager-sidebar .order-counts .large-text {
	font-size: 15px;
	color: #444444;
	font-weight: bold;
}

.manager-sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 333px;
	height: 40px;
	text-align: center;
	background-color: #80a66f;
	-webkit-border-radius: 0px 0px 8px 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	border-radius: 0px 0px 8px 0px;
}

.cboxIframe {
	overflow: hidden;
}

.welcome-area {
	background: url(../images/welcome.png) no-repeat top right;
	height: 735px;
}

.search-table-container {
	border: 1px solid #e1e1e1;
	height: 544px;
	overflow-y: scroll;
}

#searchResultsTable {
	table-layout: fixed;
}

.search-table .header {
	background: #e1e1e1;
	height: 27px;
	font-weight: bold;
}

.search-table .col1 {
	width: 76px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-table .col2 {
	width: 85px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-table .col3 {
	width: 120px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-table .col4 {
	width: 120px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-table .col5 {
	width: 70px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-table .col6 {
	width: 100px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: left;
}

.search-content-col1 {
	width: 96px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
	overflow: hidden;
}

.search-content-col2 {
	width: 120px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-content-col3 {
	width: 165px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-content-col4 {
	width: 165px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
	overflow: hidden;
}

.search-content-col5 {
	width: 70px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-content-col6 {
	width: 54px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

.search-sidebar {
	width: 333px;
	float: left;
	position: relative;
	height: 656px;
	background-color: #f2f2f2;
	-webkit-border-radius: 0px 0px 8px 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	border-radius: 0px 0px 8px 0px;
}

.search-sidebar .order-search {
	padding: 12px;
	height: 313px;
	overflow: auto;
}

.search-sidebar .order-search li {
	padding: 0 0 4px 0;
}

.search-sidebar .order-search .field {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #c7c6c6;
	border: 1px solid #b8b8b8;
	padding: 2px;
}

.search-sidebar .order-search .large {
	width: 305px;
}

.search-sidebar .agents-logged-in li {
	padding: 2px 0;
}

.search-sidebar .order-counts {
	padding: 12px;
}

.search-sidebar .order-counts .large-text {
	font-size: 15px;
	color: #444444;
	font-weight: bold;
}

.search-sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 333px;
	height: 40px;
	text-align: center;
	background-color: #80a66f;
	-webkit-border-radius: 0px 0px 8px 0px;
	-moz-border-radius: 0px 0px 8px 0px;
	border-radius: 0px 0px 8px 0px;
	margin-bottom: -43px;
}

.search-sidebar .agents-logged-in {
	padding: 7px 12px;
	height: 197px;
	overflow: auto;
}

.search-sidebar .order-search {
	padding: 12px;
	font-size: 11px;
}

.search-sidebar-footer .next-order {
	padding: 7px 0 0 0;
}

.search-sidebar .odetails-b li.container {
	border-bottom: 1px solid #a9a9a9;
	padding: 10px 0 10px 0;
}

.search-sidebar .odetails-b .product-image {
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #d7d7d7;
}

.search-sidebar .odetails-b .product-data {
	float: left;
	width: 195px;
	font-size: 11px;
}

.search-sidebar .odetails-2 .product-data ul {
	float: left;
	padding: 0 20px 0 0;
}

ul.search-oi li.l {
	float: left;
	width: 100px;
}

ul.search-oi li.c {
	float: left;
	width: 120px;
}

ul.search-oi li.r {
	float: left;
}

ul.search-oi-2 li {
	float: left;
	width: 145px;
}

ul.search-oi-2 div {
	float: left;
	width: 140px;
}

ul.search-oi-3 li {
	float: left;
	width: 145px;
}

ul.search-oi-3 div {
	float: left;
	width: 140px;
}

#login {
	width: 270px;
	height: 220px;
	border: 1px solid #397c2c;
	margin: 0 auto;
	padding: 0 0 10px 0;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fff;
	top: 40px;
}

#login  ul {
	text-align: center;
	padding: 0 10px;
}

#login li {
	padding: 4px 0;
}

#login .field {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #c7c6c6;
	border: 1px solid #b8b8b8;
	padding: 2px;
	width: 210px;
}

#login li.btn {
	padding: 10px 0;
}

/* Footer */
#footer {
	
}

.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	opacity: .75;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	z-index: 101;
}

.modal-window {
	position: fixed;
	top: 380px;
	left: 50%;
	margin: 0;
	padding: 0;
	z-index: 102;
}

.close-window {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 20px;
	top: 4px;
	background: transparent url('../images/pcCloseButton.png') no-repeat
		scroll right top;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity = 50);
	margin-right: -190px;
	-moz-opacity: 0.5;
}

.close-window:hover {
	opacity: .99;
	filter: alpha(opacity = 99);
	-moz-opacity: 0.99;
}

.modal-overlayNotes {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	opacity: .75;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	z-index: 101;
}

.modal-windowNotes {
	position: fixed;
	top: 380px;
	left: 50%;
	margin: 0;
	padding: 0;
	z-index: 102;
}

.close-windowNotes {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 20px;
	top: 4px;
	background: transparent url('../images/pcCloseButton.png') no-repeat
		scroll right top;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
}

.close-windowNotes:hover {
	opacity: .99;
	filter: alpha(opacity = 99);
	-moz-opacity: 0.99;
}

.modal-overlayEdit {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	opacity: .75;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	z-index: 101;
}

.modal-windowEdit {
	position: fixed;
	top: 380px;
	left: 50%;
	margin: 0;
	padding: 0;
	z-index: 102;
}

.close-windowEdit {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 20px;
	top: 4px;
	background: transparent url('../images/pcCloseButton.png') no-repeat
		scroll right top;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
}

.close-windowEdit:hover {
	opacity: .99;
	filter: alpha(opacity = 99);
	-moz-opacity: 0.99;
}

.error {
	color: red;
}

#headersTable {
	width: 450px;
	height: 1px;
	table-layout: fixed;
	border: 1px solid black;
}

#headersTable .messageColumn {
	width: 120px;
	overflow: hidden;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#headersTable .messageColumnSmall {
	width: 65px;
	overflow: hidden;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#headersTable .messageColumnLarge {
	width: 213px;
	overflow: hidden;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#message-order-container {
	height: 188px;
	width: 653px;
	overflow: auto;
	margin-top: -1px;
}

#message-order-container .messageTable {
	width: 450px;
	table-layout: fixed;
	border: 1px solid black;
}

#message-order-container .messageTable .messageColumn {
	width: 120px;
	overflow: hidden;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#message-order-container .messageTable .messageColumnSmall {
	width: 65px;
	overflow: hidden;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#message-order-container .messageTable .messageColumnLarge {
	width: 213px;
	overflow: hidden;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

#message-order-container .messageTable .messageRow {
	height: 100%;
}

.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #333;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
} /* This hover code won't work for IE */